
/* Include the padding and border in an element's total width and height */
/*
* {
    box-sizing: border-box;
  }
*/


  /* Remove margins and padding from the list */
  /*
  ul {
    margin: 0;
    padding: 0;
  }
  */

  /* Style the list items */
  /*
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }
*/

  /*  contact management   */

body {
    background-color: whitesmoke;
}
.container {
    background-color: blue;
    display: flex;
    flex-flow: column wrap;
    color: white;
    font: 35px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
}


.button1 {
    border: none;
    background-color: rgba(51, 116, 238, 0.959);
    padding: 15px;
    text-align: center;
    font-size: 10px;
    color: whitesmoke; 
    border: 2px solid rgb(0, 0, 0);
    justify-content: center;
    
  } 

  .container-two {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
  
  }

  .container-two > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 45px;
    text-align: center;
    line-height: 75px;
    font-size: 25px;
  }


  .name-div {
    margin: 75px;
  }

  /* contact  page */


label {
  align-self: flex-start;
  margin-top: 16px;
  margin-bottom: 5px;
}


.form-input {
    background: white;
    border: 1px solid black;  
    width: 100%;
    padding: 3px;
}


.new-contact {
  text-align: center;
  font-size: 25px;
  height: 40%;
  border: 1px solid black;  
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 40%;
  margin: 0 auto;
  border: 1px solid black;  
}

.submit-button {
  
}

.div-inform {
margin: 15px;
text-align: left;
}



/*  Edit page   */
/*
.edit-page {
  background-color: blue;
  display: flex;
  flex-flow: column wrap;
  color: white;
  font: 40px; 
} */


h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(51, 116, 238, 0.959);

}



#results {
  display: flex;
  flex-flow: column wrap;
  color: black;
  font: 35px;
  align-items: center;
  width: 60%;
  height: 40%;
  border: 1px solid black;  
}


/*
.form-input:focus, 
.form-button {
    outline: none;
    cursor: pointer;
}
*/

.edit-page {
  background-color: blue;
  display: flex;
  flex-flow: column wrap;
  color: white;
  font: 35px;

}

